/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.section-title {
  align-self: center;
  font-size: 2rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
